<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_name">
    <%= form.label :タイトル %>
    <%= form.text_field :name %>
  </div>
  <div class="task_details">
    <%= form.label :詳細 %>
    <%= form.text_field :details %>
  </div>
  <div class="row">
  <div class="col-xs-1">
    <label class="control-label" for="">終了期限</label>
    <%= form.date_select :limit, {}, class: 'form-control' %>
    </div>
  </div>
  <div class="task_stutas">
    <%= form.label :ステータス %>
    <%= form.select :stutas, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>
  <div class="task_priority>
    <%= form.label :優先順位 %>
    <%= form.select :priority, [["高", "高"], ["中", "中"], ["低", "低"]], include_blank: "選択して下さい" %>
  </div>
  <%= form.label :ラベル %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  <%= form.submit "作成する" %>
<% end %>
<%= link_to '一覧へ戻る', tasks_path %>
