<h1>タスク一覧</h1>
<div class="search-form">
  <%= form_with(model: @task, url: tasks_path, method: :get, local: true) do |f| %>
    <div class="field">
      <%= f.label :name, "タスク名" %>
      <%= f.text_field :name, id:"search_text" %>
      <%= f.label :stutas, 'ステータス' %>
      <%= f.select :stutas, Task.task_stutas.keys, include_blank:"-" %>
      <%= f.label :priority, '優先順位' %>
      <%= f.select :priority, Task.priorities.keys, include_blank:"-" %>
      <button type="submit" id="search_btn" class="btn btn-primary btn-s">検索</button>
    </div>
  <% end %>
<table class="table table-striped">
  <tr>
    <th>名前</th>
    <th>詳細</th>
    <th><%= link_to "終了期限 ▼", tasks_path(sort_expired: "true"), class:"sort_limit" %></th>
    <th>ステータス</th>
    <th><%= link_to "優先順位 ▼", tasks_path(sort_priority: "true") %></th>
  </tr>
<% @tasks.each do |task| %>
<% if task.user == current_user %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.details %></td>
    <td><%= task.limit %></td>
    <td><%= task.stutas %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id), class: 'btn btn-primary' %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class: 'btn btn-success' %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
<% end %>
<%= paginate @tasks %>
</table>
