<h1>タスク詳細画面</h1>
<p>名前: <%= @task.name %></p>
<p>詳細: <%= @task.details %></p>
<p>終了期限: <%= @task.limit %></p>
<p>ステータス: <%= @task.stutas %></p>
<p>優先順位: <%= @task.priority %></p>
<p>登録ラベル:</p>
<% @task.labels.each do |label| %>
<%= label.name %>
<% end %>
<br>
<br>
<%= link_to '一覧へ戻る', tasks_path %>
