<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<table class="table table-striped">
  <tr>
    <th>名前</th>
    <th>詳細</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先順位</th>
  </tr>
<% @tasks.each do |task| %>
<% if task.user == current_user %>
  <tr class="task_list">
    <td><%= task.name %></td>
    <td><%= task.details %></td>
    <td><%= task.limit %></td>
    <td><%= task.stutas %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細', task_path(task.id), class: 'btn btn-primary' %></td>
    <td><%= link_to "編集", edit_task_path(task.id), class: 'btn btn-success' %></td>
    <td><%= link_to '削除', task_path(task.id), method: :delete, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
<% end %>
