<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <nav>
      <ul class="top_menu clearfix">
        <li><%= link_to 'ホーム', tasks_path %></li>
        <li><%= link_to 'タスク登録', new_task_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user.id), id: 'Profile' %></li>
          <li><%= link_to "Logout", session_path(current_user.id), id: 'Logout', method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
          <li><%= link_to '管理者画面', admin_users_path, id: 'kanri' %></li>
      </ul>
    </nav>
  </header>
  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
